.footer-container {
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Positioned at the bottom of the viewport */
    margin-left: 200px;
    width: 92%; /* Full width */
    text-align: center; /* Center-align the content */
    padding: 8px 0; /* Add some padding for better spacing */
}
