.usercard {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-left: 220px; 
    max-width: calc(100% - 240px); 
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.page-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    margin-left: 220px; 
    max-width: calc(100% - 240px); 
}
.page-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    margin-left: 220px; 
    max-width: calc(100% - 240px); 
}

.table-wrapper {
    text-align: center;
    margin-left: 220px; /* Adjusted to accommodate the sidebar width */
}

.workgroup-table {
    width: calc(100% - 220px); /* Adjusted width to fit the remaining space after considering the sidebar */
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
    margin: 0 auto;
}

.workgroup-table th,
.workgroup-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #333;
}

.workgroup-table th {
    background-color: #f2f2f2;
}

.even {
    background-color: #f9f9f9;
}

.odd {
    background-color: #e9e9e9;
}

.form-wrapper {
    margin-top: 30px;
    margin-left: 220px; 
    max-width: calc(100% - 240px); 
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.form input,
.form textarea {
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}

.form textarea {
    resize: vertical;
}

.form button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.form button:hover {
    background-color: #0056b3;
}

.sidebar {
    width: 200px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar-item a:hover {
    color: #007bff;
}

